<form method="POST" action="/admin">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    
    <label for="role">Role:</label>
    <select id="role" name="role">
      <option value="Admin">Admin</option>
      <option value="Manager">Manager</option>
      <option value="Financer">Financer</option>
      <option value="Manufacturer">Manufacturer</option>
      <option value="Retailer">Retailer</option>
    </select>
    
    <input type="submit" value="Add User">
  </form>
  